@charset "UTF-8";

html {
    height: 100%;
    box-sizing: border-box;
  }
  
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;

    margin: auto;
    background-color: rgba(250, 235, 215, 0.288);
  }
  
#text {
    width: 60vw;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    padding-top: 32px;
    max-width: 640px;
  }
  
h1 {
    margin-top: 0;
    text-align: center;
  }
  
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: gray;
    text-align: center;  
}

img{
    width: 33vw;
  }